body {
	/* background-color: #e5e5e5; */

	@apply bg-white font-poppins text-primary-black box-border;
}
// containers
.btn-container {
	@apply flex justify-center;
  }
  
//   texts
  .title {
	@apply text-yellow text-lg text-center font-bold text-4xl leading-none align-middle;
  }
  
  .subtitle {
	@apply my-3 text-white font-semibold text-lg text-center;
  }

.h2-b{
	@apply font-bold text-2xl;
}
.h4-b{
	@apply font-bold leading-none;
}

// paddings
